body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://img.freepik.com/foto-gratis/vida-muerta-dispositivo-tecnologico_23-2150722614.jpg?t=st=1743538780~exp=1743542380~hmac=e23f84acefc506d9b5fa6b069ab532a4b74809ff5b82308a451dac6d562ede9f&w=900');
  background-size: cover;
  background-position: center;
  transform: scaleX(-1);
  z-index: -1;
  filter: brightness(0.7);
}

.login-box {
  background: rgba(200, 200, 200, 0.7);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  text-align: center;
  z-index: 1;
  position: relative;
  width: 400px;
  padding: 40px;
}

.login-box h2 {
  font-size: 1.8rem;
  color: #333;
  margin: 0 0 30px 0;
}

.login-field {
  margin-bottom: 20px;
  text-align: left;
}

.login-field label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.login-field input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: white;
  font-size: 1rem;
  box-sizing: border-box;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: white;
  font-size: 1rem;
  box-sizing: border-box;
}

.input-group .forgot-password {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8rem;
  color: #333;
  cursor: pointer;
}

.input-group .forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  width: 100%;
  padding: 12px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
}

.login-button:hover {
  background: #333;
}

.register-link {
  font-size: 1rem;
  color: #333;
  text-align: right;
  display: block;
  cursor: pointer;
  margin-top: 10px;
}

.register-link:hover {
  text-decoration: underline;
}

/* Media queries para responsividad */
@media screen and (max-width: 768px) {
  .login-box {
    width: 85%;
    max-width: 400px;
  }
}

@media screen and (max-width: 480px) {
  .login-box {
    width: 90%;
    padding: 30px 20px;
  }
  
  .login-box h2 {
    font-size: 1.6rem;
  }
  
  .input-group label, 
  .input-group .forgot-password {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 320px) {
  .login-box {
    padding: 25px 15px;
  }
  
  .login-button {
    padding: 10px;
  }
  
  .input-group label, 
  .input-group .forgot-password {
    font-size: 0.8rem;
  }
}