/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  /* Contenedor principal */
  .login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://img.freepik.com/foto-gratis/vida-muerta-dispositivo-tecnologico_23-2150722614.jpg?t=st=1743538780~exp=1743542380~hmac=e23f84acefc506d9b5fa6b069ab532a4b74809ff5b82308a451dac6d562ede9f&w=900');
    background-size: cover;
    background-position: center;
  }
  
  /* Caja transparente */
  .login-box {
    background: rgba(255, 255, 255, 0.7); /* Transparencia */
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  /* Estilos de inputs y botón */
  input {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    width: 85%;
    padding: 10px;
    background: #0078d4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056a4;
  }
  