@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Poltawski+Nowy:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0px;
    height: 100vh;
    /* Asegura que ocupe toda la pantalla */
    overflow: hidden;
}

.logo {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.logo h2 {
    font-family: 'Poltawski Nowy', serif;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    color: #FFC464;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
    /* Para que el logo no se recorte */
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 20px auto;
    z-index: 10;
    background-image: linear-gradient(180deg,
            rgba(255, 196, 100, 0.20) 0%,
            rgba(255, 196, 100, 0.10) 50%,
            #00000000 100%);
    backdrop-filter: blur(10px); /* Efecto glassy */
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto flotante */
    border-top: 1px solid rgba(255, 255, 255, 0.6); /* Borde claro arriba */
    border-left: 1px solid rgba(255, 255, 255, 0.4); /* Borde claro en los lados */
    border-right: 1px solid rgba(255, 255, 255, 0.1); /* Borde claro en los lados */
    border-bottom: 1px solid rgba(255, 255, 255, 0.01); /* Sin borde abajo */
    padding: 10px 20px;
    width: 90%; /* Ocupar todo el ancho posible respetando el margin */
    max-width: 1400px; /* Limitar el ancho máximo */
    transition: all 0.3s ease-in-out;
}

nav ul {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f7f7f7;
}

.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 10px 20px;
    height: 40px;
    background-color: rgba(255, 196, 100, 0.7);
    border-radius: 20px;
    border: #F0E4CC 1px solid;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0px 10px;
}

.Login::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #F0E4CC;
    transition: width 0.3s ease-in-out;
    z-index: -1;
}

.Login:hover {
    color: rgba(255, 196, 100, 1);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(255, 196, 100, 0.3);
}

.Login:hover::before {
    width: 100%;
}

.Login:active {
    transform: translateY(0);
    box-shadow: 0 2px 8px rgba(255, 196, 100, 0.3);
}

.hero-carousel {
    position: relative;
    z-index: 1;
}

.footer-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    z-index: 20;
    backdrop-filter: blur(5px);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

body {
    font-size: 17px;
    line-height: 30px;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    font-family: "DM Sans", sans-serif;
    margin: 0;
    overflow-x: hidden;
    color: #fff;
    background-color: #1a1a1a;
}

body,
div {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Mantiene la proporción y cubre el contenedor */
    -ms-interpolation-mode: bicubic;
    border: 0;
    vertical-align: middle;
}

.divisor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Menú hamburguesa para dispositivos móviles */
.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 20;
    margin-left: 10px;
}

.menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: #FFC464;
    border-radius: 10px;
    transition: all 0.3s ease;
}